@model Application.DTOs.VisitorDto

@{
    ViewData["Title"] = "Delete Visitor";
}

<h1>Delete Visitor</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Visitor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name @Model.LastName
        </dd>
        <dt class="col-sm-2">
            Position
        </dt>
        <dd class="col-sm-10">
            @Model.Position
        </dd>
        <dt class="col-sm-2">
            Department
        </dt>
        <dd class="col-sm-10">
            @Model.Department
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
        <dt class="col-sm-2">
            Phone Number
        </dt>
        <dd class="col-sm-10">
            @Model.Phone
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>