@model IEnumerable<Application.DTOs.VisitorDto>

@{
    ViewData["Title"] = "Visitors";
}

<h1>Visitors</h1>

<p>
    <a asp-action="Create">Create new visitor</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Department</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Total visits</th>
            <th>Completed</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name @item.LastName</td>
                <td>@item.Position</td>
                <td>@item.Department</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.TotalVisits</td>
                <th>@item.VisitsCompleted</th>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>